<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*
 * Natures Cupboard 2 Magento extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is copyright Gareth Ladd 2018. Not for public dissemination
 * nor use.
 *
 * DISCLAIMER
 *
 * This program is private software. It comes without any warranty, to
 * the extent permitted by applicable law. You may not copy, modify nor
 * distribute it. The author takes no responsibility for any consequences of
 * unauthorised usage of this file or any part thereof.
 */
 -->
 
<config>
    <modules>
        <Gareth_NaturesCupboard2>
            <version>1.2.0</version>
        </Gareth_NaturesCupboard2>
    </modules>
    <global>
        <models>
          <!-- This tag is the pre-slash part of the model identifier -->
            <gareth_naturescupboard2>
                <class>Gareth_NaturesCupboard2_Model</class>
                <resourceModel>gareth_naturescupboard2_mysql4</resourceModel>
            </gareth_naturescupboard2>
            <gareth_naturescupboard2_mysql4>
                <class>Gareth_NaturesCupboard2_Model_Mysql4</class>
                <entities>
                    <attribtocategorymapping>
                        <table>naturescupboard2_attribtocategorymapping</table>
                    </attribtocategorymapping>
                </entities>
            </gareth_naturescupboard2_mysql4>
        </models>
        <resources>
            <naturescupboard2_setup>
                <setup>
                    <module>Gareth_NaturesCupboard2</module>
                    <class>Gareth_NaturesCupboard2_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </naturescupboard2_setup>
            <naturescupboard2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </naturescupboard2_write>
            <naturescupboard2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </naturescupboard2_read>
        </resources>
        <helpers>
            <gareth_naturescupboard2>
            <!-- Prefix for all helper class names -->
                <class>Gareth_NaturesCupboard2_Helper</class>
            </gareth_naturescupboard2>
        </helpers>
        <blocks>
             <adminhtml> 
                <rewrite>
                    <catalog_product_grid>Gareth_NaturesCupboard2_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
             </adminhtml>
             <gareth_naturescupboard2>
                <!-- Prefix for all Block class names -->
                <class>Gareth_NaturesCupboard2_Block</class>
             </gareth_naturescupboard2>
        </blocks>
        <events>
            <payment_method_is_active>
                <observers>
                    <Gareth_NaturesCupboard2_Payment_Method_Active_Filter_Observer>
                        <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_PaymentMethods</class>
                        <method>filterPaymentMethod</method>
                    </Gareth_NaturesCupboard2_Payment_Method_Active_Filter_Observer>
                </observers>
            </payment_method_is_active>
        </events>
 	</global>
	<adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <Gareth_NaturesCupboard2_Product_Save_Categories_Observer>
                    	<type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Categories</class>
                        <method>setCategoriesOnProduct</method>
                    </Gareth_NaturesCupboard2_Product_Save_Categories_Observer>
                    <Gareth_NaturesCupboard2_Product_Save_Margin_Calculator_Observer>
                      <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Margins</class>
                        <method>calculateMarginsOnProduct</method>
                    </Gareth_NaturesCupboard2_Product_Save_Margin_Calculator_Observer>
                    <Gareth_NaturesCupboard2_Product_Save_Website_Checker_Observer>
                      <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Websites</class>
                        <method>checkWebsitesOnProduct</method>
                    </Gareth_NaturesCupboard2_Product_Save_Website_Checker_Observer>
                </observers>
            </catalog_product_save_before>
            <catalog_product_import_finish_before>
                <observers>
                    <Gareth_NaturesCupboard2_Product_Import_Categories_Observer>
                    	<type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Categories</class>
                        <method>setCategoriesOnMultipleProducts</method>
                    </Gareth_NaturesCupboard2_Product_Import_Categories_Observer>
                    <Gareth_NaturesCupboard2_Product_Import_Margin_Calculator_Observer>
                      <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Margins</class>
                        <method>calculateMarginsOnMultipleProducts</method>
                    </Gareth_NaturesCupboard2_Product_Import_Margin_Calculator_Observer>
                    <Gareth_NaturesCupboard2_Product_Import_Website_Checker_Observer>
                      <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Websites</class>
                        <method>checkWebsitesOnMultipleProducts</method>
                    </Gareth_NaturesCupboard2_Product_Import_Website_Checker_Observer>
                </observers>
            </catalog_product_import_finish_before>
            <catalog_product_edit_action>
                <observers>
                   <Gareth_NaturesCupboard2_Model_Product_Edit_Margin_Lock_Observer>
                      <type>singleton</type>
                        <class>Gareth_NaturesCupboard2_Model_Observer_Margins</class>
                        <method>lockMarginsOnProduct</method>
                    </Gareth_NaturesCupboard2_Model_Product_Edit_Margin_Lock_Observer>
                </observers>
            </catalog_product_edit_action>
        </events>
    </adminhtml>
    <admin>
    	<routers>
    		<!-- The Magento module being overridden -->
    		<adminhtml>
    			<args>
                	<modules>
                		<!-- Tag is our PackageName_ModuleName namespace. The content path must match that in 
                			 the before attribute - with just the namespace changed. Controller class
                			 must go in Module/controllers/overridedn-module/path/controller where path matches the path under 
                			 the module in Magento-->
                		<Gareth_NaturesCupboard2 before="Mage_Adminhtml">Gareth_NaturesCupboard2_Adminhtml</Gareth_NaturesCupboard2>
                	</modules>
                </args>
    		</adminhtml>
    	</routers>
    </admin>
</config>
